---
layout: default
---
<main class="container">
  <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
    <h1>{{ page.title }}</h1>
    <time class="meta mute" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    <div class="markdown-body">
      {{ content }}
    </div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="_jyane">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </article>
</main>
